body {
    background-color: rgb(30, 63, 30);
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    background-color: gold;
    display:flex;
    justify-content: flex-end;
    height: 41px;
    width: 349px;
    padding: 10 10;
}
li{
    margin: 15px 5px;
    font-size: x-large;
}
.logo {
    height: 120px;
    margin: 1px 1px;
    /*(to specifie above
     margin-top: 15px;
     margin-right: 50px;
     margin-bottom: 15px;
     margin-left: 50px;*/
}
.Starter {
    margin: 95px 10px;
    text-align: center;
    max-width: 200px;   
}
#name{
    color: rgb(3, 15, 15);
    font-size:50px;
    font-style:italic;
}
p {
    margin: 10px;
    font-size: x-large;
    font-style: oblique;

}
.button {
    margin: 10px 5px;
    width: 165px;
    padding: 10px 20px;
    background-color: rgb(92, 137, 177);
    border-radius: 25px;
    font-size: larger;
    color:springgreen;
}
.button:hover {
    background-color: rgb(208, 89, 15);
}
.button:active {
    background-color: chocolate;
}
.Pic {
    height: 275px;
    width: 250px;
    margin: 1px 500px;
    margin: auto;
    border-radius: 350px;
}
.About-Me {
    max-width: 300px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.Idol {
    height: 300px;
    width: 300px;
    border-radius: 245px;
}
.adventure{
    height: 300px;
    width: 300px;
    border-radius: 245px;
}
.friendship {
    height: 300px;
    width: 300px;
    border-radius: 245px;
}
section {
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: justify;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 100px;
}
.front{
    margin: 5px 25px;
    display: flex;
    justify-content: space-evenly;
}
.HTML{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 2px;
}
.CSS{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 2px;
}
.Javascript{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 2px;
}
.React{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 2px;
}
.back{
    margin: 10px 25px;
    display: flex;
    justify-content: space-evenly;
}
.Node{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 5px
}
.Express{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 5px;
}
.MYSQL{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 5px;
}
.Mongo{
    height: 45px;
    width: 45px;
    border-radius: 75px;
    margin: 5px;
}
form {
    margin: 0 0 40px 0;
}
.input-section {
    margin: 55px 0;
    display: flex;
    background-color: cadetblue;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}
a {
    text-decoration: none;
    color: aqua;
    font-size: x-large;

}
a:hover {
    color: rgb(121, 59, 121);
}
a:active {
    color: rgb(159, 70, 38);
}
footer {
    display: flex;
    justify-content: flex-start;
}

